<div id="footer"> 
  <div class="instafeed">
    <h1>Instafeed</h1>
    <p>Show off your skin #justlaundered</p>
  </div>
  <div id="instafeed" class="image-grid">
    <% $INSTAFEED["data"].each do |feed|%>
    <a target = "_tab" href = "<%= feed['link'] %>"><img src = "<%= feed['images']['low_resolution']['url']%>" /></a>
    <% end %>
  </div>  
  <div id="bottom-wrapper">
    <div class="join-list">
      <h1>Join the Laundry List</h1>
      <p>Be in the know about new locations, <br class="hide-desktop"> products &amp; exclusive offers.</p>
      <form action = "<%= $BOOKING_ENDPOINT%>subscribe" method = "post" class = "subscriptionform" data-ev-cat = "Leads" data-ev-act = "Subscribe" data-ev-lbls = "Subscribe <%= (!(@location.nil? || @location['name'].blank?) ? @location['name'] : '') %>">
      <div id="input-and-button">
        <input type="text" placeholder="ENTER YOUR EMAIL HERE" name = "EMAIL" class="email-input focus-hide border-gradient">
        <button type = "submit">| go</button>
        <div style="position: absolute; left: -5000px;"><input type="text" name="b_f239ffc6f2d639917ba8f0775_80e3a160ba" tabindex="-1" value=""></div>
        <input type = "hidden" name = "list" value = "discounts" />
      </div>
      </form>
      <p id = "thanksDiv" style = "display:none;">Thanks for signing up. We look forward to serving you and helping you get cleaner, brighter and more beautiful skin. You will be receiving an introductory discount coupon code in the email shortly.</p>
    </div>
    <div class="footer-links">
      <ul>
        <li><a href="/story.html">Our Story</a></li>
        <li><a href="the-treatment.html">The Treatment</a></li>
        <li><a href="/products.html">Shop</a></li>
        <li><a href="<%= $BOOKING_ENDPOINT%>">Book</a></li>
        <li><a href="/locations.html">Laundry Locations</a></li>
      </ul>
      <div class="social">
        <a class="social-link" href="https://www.facebook.com/skinlaundry"><i class="fa fa-facebook"></i></a>
        <a class="social-link" href="https://instagram.com/skinlaundry/"><i class="fa fa-instagram"></i></a>
      </div>
      <div class="row clearfix">
        <p class="copyright">© Skin Laundry 2015, All Rights Reserved</p>
      </div>
    </div>
  </div>
</div>

<!-- <div class="thank-you-popup">
  <div class="thank-you-content">
    <div class="close-btn">
      <span class="bar"></span>
      <span class="bar"></span>
    </div>

    <img src="images/full_logo.png" alt="Skin Laundry">
    <p class="thank-you-text">Thank you for joining the Laundry List</p>
  </div>
</div> -->

<script>
    //   var userFeed = new Instafeed({
    //     get: 'user',
    //     userId: 320927027,
    //     accessToken: '356178582.a3c66ee.357c8838a9dc444bb8802a6acbff693a',
    //     limit: 14
    // });
    // userFeed.run();
</script>