<div id="header" class="hide-mobile-header">
  <% if page_classes.split(" ").first == "index" %>
    <%= image_tag "full_logo.png", :class => "logo " %>
  <% else %>
    <a href="/" class="to-home"><%= image_tag "full_logo.png", :class => "logo hide-mobile-header" %></a> 
  <% end %>
  <ul id="shop-nav">
    <li><a href="<%= $BOOKING_ENDPOINT%>">Book Now</a></li>
    <li><a href="/products.html">Shop Products</a></li>
  </ul>
  <div id="location-login">
    <ul id="location-nav">
      <li id="nearest">Nearest Laundry</li>

      <li class="hidden-list" ng-repeat = "store in base.sorted_stores"><a ng-href="/locations/{{store.key}}.html" ng-bind = "store.name"></a></li>
    </ul>
    <div id="login">
      <a href=""></a>
      <%= image_tag "shopping_bag.png", class: "shopping-bag" %>
    </div>
  </div>
</div>
<div id="header" class="hide-desktop-header">
  <div class="mobile-logolist">
    <% if page_classes.split(" ").first == "index" %>
      <%= image_tag "full_logo.png", :class => "logo " %>
    <% else %>
      <a href="/" class="to-home"><%= image_tag "full_logo.png", :class => "logo hide-mobile-header" %></a> 
      <a href="/" class="to-home"><%= image_tag "full_logo.png", :class => "logo hide-desktop-header" %></a> 
    <% end %>
    <ul id="shop-nav">
      <li><a href="">Book Now</a></li>
      <li><a href="">Shop Treatments</a></li>
      <li><a href="">Shop Products</a></li>
    </ul>
  </div>
</div>