<div id="nav-open">
  <div class="line line-one"></div>
  <div class="line line-two"></div>
  <div class="line line-three"></div>
  <div id="location-login" class="hide-desktop">
    <ul id="location-nav" class="location-mobile">
      <li id="nearest">Nearest Laundry</li>
      <li class="hidden-list" ng-repeat = "store in base.sorted_stores"><a ng-href="/locations/{{store.key}}.html" ng-bind = "store.name"></a></li>
    </ul>
    <div id="login">
      <a href=""></a>
      <%= image_tag "shopping_bag.png", class: "shopping-bag" %>
    </div>
  </div>
</div>
<div id="nav-page">
	<div id="nav-wrapper">
    <a href="/"><%= image_tag "sl_seal.png", :class => "small-logo" %></a>
		<%= image_tag "full_logo.png", :class => "logo" %>
    <div id="first-time">
      <a href="/firsttime.html">First Time?</a>
    </div>
    <div id="main-menu">
      <ul>
        <li class="nav-heading">About Us</li>
        <li><a href="/story.html">Our Story</a></li>
      </ul>
      <ul>
        <li class="nav-heading">The Treatment</li>
        <li><a href="/the-treatment.html">Info</a></li>
        <li><a ng-href="{{base.default_zone.length ? '/' + base.default_zone + '/treatments.html' : '/shop-treatments-default.html'}}">Prices</a></li>
      </ul>
      <ul>
        <li class="nav-heading"><a href="/products.html">Shop Products</a></li>
      </ul>
      <ul>
        <li class="nav-heading"><a href="<%= $BOOKING_ENDPOINT%>">Book Now</a></li>
      </ul>
      <ul>
        <li class="nav-heading"><a href="/locations.html">Laundry Locations</a></li>
      </ul>
    </div>
    <div class="join-list">
      <h1>Join the Laundry List</h1>
      <p>Be in the know about new locations, products &amp; exclusive offers.</p>
      <form action = "<%= $BOOKING_ENDPOINT%>subscribe" method = "post" class = "subscriptionform" data-ev-cat = "Leads" data-ev-act = "Subscribe" data-ev-lbls = "Subscribe <%= (!(@location.nil? || @location['name'].blank?) ? @location['name'] : '') %>">
      <div id="input-and-button">
        <input type="text" placeholder="ENTER YOUR EMAIL HERE" name = "EMAIL" class="email-input focus-hide border-gradient">
        <button type = "submit">| go</button>
        <div style="position: absolute; left: -5000px;"><input type="text" name="b_f239ffc6f2d639917ba8f0775_80e3a160ba" tabindex="-1" value=""></div>
        <input type = "hidden" name = "list" value = "discounts" />
      </div>
      </form>
    </div>
    <div id="nav-footer">
      <div class="social">
        <a class="social-link" href="https://www.facebook.com/skinlaundry"><i class="fa fa-facebook"></i></a>
        <a class="social-link" href="https://instagram.com/skinlaundry/"><i class="fa fa-instagram"></i></a>
      </div>  
      <div>
        <ul>
          <li><a href="/faq.html">FAQ</a></li>
          <li><a href="/terms.html">Terms of Use</a></li>
          <li><a href="http://shop.skinlaundry.com/pages/shipping-return-policy">Shipping &amp; Returns</a></li>
          <li><a href="http://shop.skinlaundry.com/pages/privacy-policy">Privacy Policy</a></li>
          <li><a href="/contact-us.html">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>