<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    
    <title>SkinLaundry</title>
    
    <%= stylesheet_link_tag "application" %>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css">  
  </head>
  <body class="<%= page_classes %>">
    <div class="videobg">
      <video autoplay loop muted poster="/images/SL_mobil_background.jpg" class="hide-mobile">
      <source src="/video/02.mp4" type="video/mp4">
      <source src="/video/02.webm" type="video/mp4">
      </video>
      <div class="hide-desktop cover"></div>
      <img src="/images/SL_Watermark.png" id="watermark"/>
    </div>
    <!-- <div class="staticwrap"> -->
      <%= partial "layouts/header" %>
      <%= partial "layouts/nav_page" %>

      <%= yield %>

      
    <!-- </div> -->
    
    <%= partial "layouts/footer" %>  
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
    <%= javascript_include_tag  "application" %>
  </body>
</html>