<div id="main">
	<div class="head">
		<h1 class="title">Cleansing Essentials</h1>
		<h3 class="subtitle">FOR THE CLEAN SKIN REVOLUTION</h3>
	</div>
	<div class="row treatments text-center clearfix">
		<% $SHOPIFY_PRODUCTS['cleansing_essentials'].each do |product| %>
		<a href = "<%= $SHOPIFY_BASE_URL + 'products/' + product['handle'] %>" target = "_blank"><div class="col-one-fourth">
			<img src="<%= product["image"]["src"] %>" alt="" style = "max-width:184px;">
			<h3 class="product-title"><%= product["title"]%></h3>
			<p class="product-price"><%= '$'+product['variants'][0]['price']%></p>
		</div></a>
		<%end %>
		<!-- <div class="col-one-fourth">
				<img src="/images/product-1.jpg" alt="">
				<h3 class="product-title">SKIN PURIFYING CREAM CLEANSER</h3>
				<p class="product-price">$21.95</p>
		</div>
		<div class="col-one-fourth">
				<img src="/images/product-1.jpg" alt="">
				<h3 class="product-title">EXTRA DEEP CLEANSER FOR NORMAL TO OILY SKIN</h3>
				<p class="product-price">$21.95</p>
		</div>
		<div class="col-one-fourth">
				<img src="/images/product-1.jpg" alt="">
				<h3 class="product-title">GENTLE FOAMING WASH</h3>
				<p class="product-price">$21.95</p>
		</div> -->
	</div>
	<div class="gap-75 clearfix"></div>
	<div class="row treatments text-center clearfix">
		<h1 class="title">Everyday Essentials</h1>
		<div class="gap-50 clearfix"></div>
	</div>
	<!-- <div class="col-one-third">
			<img src="/images/product-1.jpg" alt="">
		
			<h3 class="product-title">HYDRATING RADIANCE FACIAL TREATMENT MASK - 5 PACK</h3>
			<p class="product-price">$48.00</p>
	</div>
	<div class="col-one-third">
			<img src="/images/product-1.jpg" alt="">
		
			<h3 class="product-title">RESTORING NIGHT SERUM</h3>
			<p class="product-price">$48.00</p>
	</div> -->
	<% $SHOPIFY_PRODUCTS['everyday_essentials'].each_slice(($SHOPIFY_PRODUCTS['everyday_essentials'].length.to_f/2).ceil).to_a.each do |product_bucket| %>
	<div class = "row treatments text-center clearfix">
	<div class="gap-50 clearfix"></div>
	<% product_bucket.each do |product_ev| %>
		<a href = "<%= $SHOPIFY_BASE_URL + 'products/' + product_ev['handle'] %>" target = "_blank">
			<div class="col-one-third">
				<img src="<%= product_ev["images"].count > 0 ?  product_ev["images"][0]["src"] : 'images/product-1.jpg'%>" alt="" style = "max-width:223px;max-height:471px;">
				<h3 class="product-title"><%= product_ev["title"]%></h3>
				<p class="product-price"><%= '$'+product_ev['variants'][0]['price']%></p>
			</div>
		</a>
		<% end %>
		</div>
	<%end %><!-- End of products loop-->
	<div class="gap-50 clearfix"></div>
</div>